body{
    background-color: whitesmoke;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    min-height: 3rem;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.8), hsl(0, 96%, 65%, 0.8));
    border: 2px solid black;
    border-radius:1rem;
    padding: 0 1rem;
    box-shadow: 0 0 10px black;
}

.top-bar span {
    position: relative;
    margin-right: auto;
    font-weight: 200px;
    font-size: 1.7rem;
    font-family: "Pixelify Sans", sans-serif;
    color:white;
    text-shadow: 0 0 10px black;
}

.top-bar a {
    margin: 0 1rem;
    color:white;
    text-decoration: none;
}


.top-bar input{
    width: 20rem;
    height: 2.3rem;
    border: 3px solid black;
    border-radius:10px;
    padding-left: 20px;
    font-size: 1rem;
    box-shadow: 0 0 10px black;
}

.top-bar button{
    height: 2.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius:1.5rem;
    margin-left: 10px;
    box-shadow: 0 0 10px black;
}

.top-bar span button:hover{
    background-color:lightblue;
    color:black;
    cursor: pointer;
}

.top-bar button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
    border-color: white;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3rem;
    padding: 0 1rem;
    width:50%;
    margin:0 auto;
}

.button-container button{
    width:33%;
    font-family: "verdana", sans-serif;
    font-size: 1.3rem;
    height: 2.3rem;
    background-color: white;
    border: outset;
    border-radius: 5px;

}

.button-container button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
    text-decoration: underline;
}

.section-button.active{
    border-bottom: 4px solid red;
}

.menu-opener{
    transform: translateX(-370px);
}

.side-menu {
    height:100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 0;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.9), hsl(0, 96%, 60%, 0.9));
    border-radius: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border:2px solid black;
}

.user-container{
    width:100%;
    display:flex;
    flex-direction: column;
    height:auto;
}

.side-menu .user-img{
    width:50%;
    margin: 0 auto;
    height:7rem;
    border:1px solid black;
    border-radius:50%;
}
  
.side-menu a {
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s;
}
  
.side-menu a:hover {
    color: #f1f1f1;
    cursor: pointer;
    background-color: red;

}
  
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main-section{
    height:100%;
    width:80%;
    margin:0 auto;
}

.main-section .post{
    border:2px solid black;
    border-radius:1rem;
    margin-top: 10px;
    width:80%;
    margin:0 auto;
    box-shadow: 0 0 10px black;
    margin-bottom: 3rem;
}

#following-posts{
    display:none;
}

.post .post-head{
    display:flex;
    flex-direction: row;
}

.post-head .profile-img{
    width:4rem;
    border:1px solid black;
    border-radius:50%;
    margin-left:5px;
    margin-top:5px;
}

.post-head p{
    padding-left: 10px;
    font-size:1.5rem;
}

.post .post-date{
    font-size: 1rem;
}

.post-head button{
    margin-left:auto;
    margin-right: 50px;
    height:3rem;
    width:20%;
    align-self: center;
    border-radius: 1rem;
    color: hsl(0, 96%, 54%);
    font-size:1rem;
    border: 2px solid hsl(0, 96%, 54%);
    background:none;
}

.post-head button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
}

.post .post-content{
    padding-left: 10px;
    font-size: 1.1rem;
}

.post-content img{
    margin: 0 auto;
    display: block;
}

.post-content video{
    margin: 0 auto;
    display: block;
    max-width:70%;
}

.post-info{
    display: flex;
    flex-direction: row;
    height:auto;
    font-size: 12px;
}

.post-info p{
    margin: 0 auto;
}

.post .post-bottom{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.post-bottom button{
    width:25%;
    border:none;
    border-radius: 1rem;
    font-size: 1rem;
    height:1.75rem;
}

.post-bottom button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
}

.post .post-comment{
    display:flex;
    flex-direction: row;
    padding-bottom:10px;
}

.post-comment input{
    margin: 0 auto;
    width:90%;
    height:1.5rem;
    border-radius:10px;
    border: 1px solid black;
    padding-left: 10px;
}

.post-comment button{
    margin-right:20px;
    border-radius:1rem;
}

.post-comment button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 55%, 0.7));
    color:white;
}

/* Popup container - hidden by default */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
}

/* Popup content */
.popup-content {
    position: relative;
    margin: 7% auto;
    padding: 20px;
    height:70%;
    width:20%;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.9), hsl(0, 96%, 60%, 0.9));
    border-radius: 10px;
    text-align: center;
    color:white;
    border: 1px solid black;
    font-size:1.1rem;

}

#register{
    height:80%;
    margin: 3% auto;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding-bottom:0px;
    align-items: center;
}

.popup input[type=text], .popup input[type=password] { /* Full-width input fields */
    width: 80%; /* 80% width within the container */
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: none;
    border-bottom:1px solid white;
}
  
.popup input[type=text]:focus, .popup input[type=password]:focus { /*When the field is selected, it will darken a bit */
    background-color: #ddd; 
}

.popup .login{
    background-color:white;
    font-size: 1rem;
    border-radius:1rem;
    border: 1px solid black;
    height:2rem;
    width:5rem;
}

.popup .login:hover{
    cursor: pointer;
    background-color: black;
    color:white;
    border: 2px solid hsl(0, 96%, 40%, 0.9);
}

/* Close button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}



