body{
    background-color: whitesmoke;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    min-height: 3rem;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.8), hsl(0, 96%, 65%, 0.8));
    border: 2px solid black;
    border-radius:1rem;
    padding: 0 1rem;
    box-shadow: 0 0 10px black;
    margin-bottom: 1rem;
}

.top-bar span {
    position: relative;
    margin-right: auto;
    font-weight: 200px;
    font-size: 1.7rem;
    font-family: "Pixelify Sans", sans-serif;
    color:white;
    text-shadow: 0 0 10px black;
}

.top-bar .search-bar {
    display: flex; 
    align-items: center;
    margin: 0 auto;
    width: 100%; 
    max-width: 30rem; 
    position: relative; 
}

.top-bar a {
    margin: 0 1rem;
    color:white;
    text-decoration: none;
}

.top-bar input {
    width: 75%; 
    height: 2.3rem;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1rem;
    box-shadow: 0 0 10px black;
    z-index: 1; 
}


.top-bar button{
    height: 2.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius:1.5rem;
    margin-left: 10px;
    box-shadow: 0 0 10px black;
}

.top-bar .search-bar button {
    right: 0; 
    height: 2.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 1.5rem;
    margin-left: 10px;
    box-shadow: 0 0 10px black;
    padding: 0 15px;
    cursor: pointer;
}

.top-bar .search-bar button:hover{
    background-color:lightblue;
    color:black;
    cursor: pointer;
    border-color: white;
}

.top-bar button:hover{
    cursor:pointer;
    background-color: black;
    color:white;
    border-color: white;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3rem;
    padding: 0 1rem;
    width:50%;
    margin:0 auto;
}

.button-container button{
    width:20%;
    font-family: "verdana", sans-serif;
    font-size: 1.3rem;
    height: 2.3rem;
    background-color: white;
    border: outset;
    border-radius: 5px;

}

.button-container button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
    text-decoration: underline;
}

.section-button.active{
    border-bottom: 4px solid red;
}

.menu-opener{
    transform: translateX(-370px);
}

.side-menu {
    height:100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 0;
    background: linear-gradient(90deg, hsl(268, 96%, 40%, 0.8), hsl(0, 96%, 60%, 0.8));
    border-radius: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border:2px solid black;
}

.current-user-container{
    width:100%;
    display:flex;
    flex-direction: column;
    height:auto;
}

.side-menu .user-img{
    width:50%;
    margin: 0 auto;
    height:7rem;
    border:1px solid black;
    border-radius:50%;
}
  
.side-menu a {
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s;
}
  
.side-menu a:hover {
    color: #f1f1f1;
    cursor: pointer;
    background-color: red;

}
  
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main-section{
    height:100%;
    width:80%;
    margin:0 auto;
}

.sort-feed,
.sort-search{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 1rem;
    align-items: center;
}

.sort-feed p,
.sort-search p{
    font-size: 1.5rem;
}

.sort-feed button,
.sort-search button{
    border: 2px solid hsl(0, 96%, 54%);
    border-radius: 10px;
    background: none;
    width:20%;
    height:45px;
    font-size: 1.2rem;
}

.sort-feed button:hover,
.sort-search button:hover{
    background: linear-gradient(90deg, hsl(268, 96%, 40%, 0.8), hsl(0, 96%, 60%, 0.8));
    cursor:pointer;
    color:white;
}

.sort-feed button.active,
.sort-search button.active{
    background: linear-gradient(90deg, hsl(268, 96%, 40%, 0.8), hsl(0, 96%, 60%, 0.8));
    cursor:pointer;
    color:white;
}

.main-section .post,
#your-profile .post,
#saved-posts .post,
.post-search-container .post{
    border:2px solid black;
    border-radius:1rem;
    margin-top: 10px;
    width:80%;
    margin:0 auto;
    box-shadow: 0 0 10px black;
    margin-bottom: 3rem;
}

#following-posts{
    display:none;
}

.post .post-head{
    display:flex;
    flex-direction: row;
}

.post-head .profile-img{
    width:4.5rem;
    border:1px solid black;
    border-radius:50%;
    margin-left:5px;
    margin-top:5px;
    object-fit: cover;
}

.post-head p{
    padding-left: 10px;
    font-size:1.5rem;
}

.post .post-date{
    font-size: 1rem;
}

.post-head button{
    margin-left:auto;
    margin-right: 50px;
    height:3rem;
    width:20%;
    align-self: center;
    border-radius: 1rem;
    color: hsl(0, 96%, 54%);
    font-size:1rem;
    border: 2px solid hsl(0, 96%, 54%);
    background:none;
}

.post-head button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, hsl(268, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
}

.post .title-section{
    padding-left: 10px;
    font-size: 1.2rem;
    max-height: 1rem;
    font-weight: bold;
}

.post .post-title{
    margin-top:0;
}

.post .post-content{
    padding-left: 10px;
    font-size: 1.1rem;
}

.post-content img{
    margin: 0 auto;
    display: block;
    max-width: 40rem;
    max-height:25rem;
}

.post-content video{
    margin: 0 auto;
    display: block;
    max-width:70%;
}

.post-info{
    display: flex;
    flex-direction: row;
    height:auto;
    font-size: 12px;
}

.post-info p{
    margin: 0 auto;
}

.post .post-bottom{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.post-bottom button{
    width:25%;
    border:none;
    border-radius: 1rem;
    font-size: 1rem;
    height:1.75rem;
}

.post-bottom .level-up.active{
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
}

.post-bottom .level-down.active{
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
}

.post-bottom button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
}

.post-bottom .save-post.active{
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 60%, 0.7));
}

.post .post-comment{
    display:flex;
    flex-direction: row;
    padding-bottom:10px;
}

.post-comment input{
    margin: 0 auto;
    width:90%;
    height:1.5rem;
    border-radius:10px;
    border: 1px solid black;
    padding-left: 10px;
}

.post-comment button{
    margin-right:20px;
    border-radius:1rem;
}

.post-comment button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.7), hsl(0, 96%, 55%, 0.7));
    color:white;
}

#people-section{
    display:none;
}

.search-people,
.search-games{
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.search-people input,
.search-games input{
    width: 40%; 
    height: 2rem;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1rem;
    box-shadow: 0 0 10px black;
}

.search-people button,
.search-games button{
    right: 0; 
    height: 2.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 1.5rem;
    margin-left: 10px;
    box-shadow: 0 0 10px black;
    padding: 0 15px;
    cursor: pointer;
}

.search-people button:hover,
.search-games button:hover{
    background-color:lightblue;
    color:black;
    cursor: pointer;
    border-color: white;
}


#people-section h1{
    text-align:center;
}

.person{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid;
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
    margin-bottom:1.5rem;
    width:80%;
}
 
.person .profile-img{
    width:4rem;
    border:1px solid black;
    height:4rem;
    border-radius:50%;
    margin-left:5px;
    margin-top:5px;
    margin-bottom: 5px;
}

.person a{
    padding-left: 10px;
    font-size:1.5rem;
    text-decoration:none;
    color: black;
}

.person a:hover{
    cursor:pointer;
    text-decoration: underline;
}

.person button {
    margin-left: auto;
    margin-right: 50px;
    height: 3rem;
    width: 20%;
    align-self: center;
    border-radius: 1rem;
    color: hsl(0, 96%, 54%);
    font-size: 1rem;
    border: 2px solid hsl(0, 96%, 54%);
    background: none;
}

.person button:hover {
    cursor: pointer;
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color: white;
}

.person .following {
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color: white;
}

.post .following {
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color: white;
}

#searched-people-container{
    display:none;
}

#recommended-section{
    display:none;
}

#recommended-section h1{
    text-align:center;
}

.game{
    display:flex;
    flex-direction: row;
    margin-bottom:1rem;
}

.game img{
    height:10rem;
    width:10rem;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
}

.game-details{
    margin: 0 auto;
    border: 2px solid;
    border-radius: 1rem;
    align-self: center;
    box-shadow: 0 0 10px black;
    margin-bottom:1.5rem;
    width:70%;
}

.game-details p{
    padding-left: 10px;
    font-size:1.5rem;
}

.genres p{
    font-size: 1.2rem;
}

.game-title{
    display: flex;
    align-items: center;
    max-height:2.75rem;
}

.genres {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-height:2rem;
}
  
.left-section {
    flex-grow: 1; 
}
  
.right-section {
    text-align: right; 
    margin-right: 75px;
}

.game-title button{
    margin-left:auto;
    margin-top:8px;
    margin-right: 50px;
    height:2rem;
    width:20%;
    border-radius: 1rem;
    color: hsl(0, 96%, 54%);
    font-size:0.9rem;
    border: 2px solid hsl(0, 96%, 54%);
    background:none;
}

.game-title button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.navigation-arrows button {
    padding: 10px 20px;
    background: none;
    border: 2px solid hsl(0, 96%, 54%);
    color:hsl(0, 96%, 54%);
    font-size: 16px;
    border-radius:10px;
}

.navigation-arrows button:hover{
    cursor:pointer;
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
}

.add-game.active{
    background: linear-gradient(90deg, hsla(270, 100%, 50%, 0.7), hsl(0, 96%, 60%, 0.7));
    color:white;
}

.searched-games{
    display:none;
}



/* All popups are hidden by default */
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6); 
}

.popup-content {
    position: relative;
    margin: 7% auto;
    padding: 20px;
    height:70%;
    width:20%;
    background: linear-gradient(90deg, hsl(290, 96%, 40%, 0.9), hsl(0, 96%, 60%, 0.9));
    border-radius: 10px;
    text-align: center;
    color:white;
    border: 1px solid black;
    font-size:1.1rem;
    overflow: hidden;

}

#register{
    height:80%;
    margin: 3% auto;
}

#logout{
    height:20%;
}

.choice-buttons{
    height:100%;
}

.choice-button{
    width:40%;
    font-size: 1.7rem;
    border-radius: 1.5rem;
    background: none;
    border: 2px solid
}

#yes{
    border-color: hsl(120, 100%, 25%,0.9);
}

#no{
    border-color: hsl(0, 100%, 50%,0.9);
}

#yes:hover{
    cursor:pointer;
    background-color: hsl(120, 100%, 25%,0.9);
}

#no:hover{
    cursor:pointer;
    background-color: hsl(0, 100%, 50%,0.9);
}

.login-form{
    display: flex;
    flex-direction: column;
    padding-bottom:0px;
    align-items: center;
}

.login-error{
    color:red
}

.popup input[type=text], .popup input[type=password] { /* Full-width input fields */
    width: 80%; /* 80% width within the container */
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: none;
    border-bottom:1px solid white;
}
  
.popup input[type=text]:focus, .popup input[type=password]:focus { /*When the field is selected, it will darken a bit */
    background-color: #ddd; 
}

.popup .login{
    background-color:white;
    font-size: 1rem;
    border-radius:1rem;
    border: 1px solid black;
    height:2rem;
    width:5rem;
}

.popup .login:hover{
    cursor: pointer;
    background-color: black;
    color:white;
    border: 2px solid hsl(0, 96%, 40%, 0.9);
}

/* Close button */
.close-popup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

#system-message{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin:0 auto;
    background: linear-gradient(90deg, hsl(290, 96%, 40%, 1), hsl(0, 96%, 60%, 1));
    top:0;
    opacity:0;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 1.5rem;
}

#upload{
    width: 50%;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload-form .post-content{
    height:20%;
    width:80%;
}

#upload-title{
    width:50%;
}

.upload-form #tags{
    width:50%;
}

.publish-button{
    background-color:white;
    font-size: 1rem;
    border-radius:1rem;
    border: 1px solid black;
    height:2rem;
    width:5rem;
}

.publish-button:hover{
    cursor: pointer;
    background-color: black;
    color:white;
    border: 2px solid hsl(0, 96%, 40%, 0.9);
}

#comments-section{
    min-width: 50%;
    min-height: 80%;
    margin: 4% auto;
}

.comments-container{
    display: flex;
    flex-direction: column;
    max-height: 90%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.comment{
    display: flex;
    flex-direction:row;
    margin-bottom:1.5rem;
}

.comment img{
    top:10px;
    width:5rem;
    margin: 0 auto;
    height:5rem;
    border:1px solid black;
    border-radius:50%;
}

.comment-content{
    flex-grow: 1;
    border:1px solid black;
    border-radius:2rem;
    background: linear-gradient(90deg, hsl(0, 0%, 30%, 1), hsl(0, 0%, 50%, 1));
    text-align:left;
    padding-left: 1rem;
    padding-right: 1rem;
    word-wrap: break-word;
    font-size: 1rem;
}

.comment-details{
    font-size: 1.1rem;
    margin-bottom: 0;
}

#your-profile{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto;
    height: auto; 
    width: 80%; 
    display:none;
}

.user-data{
    margin:0 auto;
    width:80%;
    text-align: center;
    border:1px solid black;
    border-radius: 5px;
    background:linear-gradient(90deg, hsl(290, 96%, 40%, 1), hsl(0, 96%, 60%, 1));
    margin-bottom: 3rem;
}

.user-data .img-section{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.user-data img {
    top:10px;
    width:10rem;
    margin: 0 auto;
    height:10rem;
    border:1px solid black;
    border-radius:50%;
}

.follow-info{
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    font-size: 1.5rem;
}

#saved-posts{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto;
    height: auto; 
    width: 80%; 
    display:none;
}

#saved-posts h1{
    text-align: center;
}

#favourite-games{
    display:none;
}

#favourite-games h1{
    text-align: center;
}

#favourite-games .game{
    width:60%;
}

#searched-posts{
    display:none;
}

.post-search-container{
    height:100%;
    width:80%;
    margin:0 auto;
}

.post-search-container h1{
    text-align: center;
}

#user-profile{
    display:none;
}

.follow-info button{
    height:3rem;
    width:20%;
    align-self: center;
    border-radius: 1rem;
    color: white;
    font-size:1rem;
    border: 2px solid hsl(0, 96%, 54%);
    background:none;
}

.follow-info button:hover{
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.8), hsl(0, 96%, 65%, 0.8));
    cursor: pointer;
}

#user-follow-button.following{
    background: linear-gradient(90deg, hsl(0, 96%, 40%, 0.8), hsl(0, 96%, 65%, 0.8));
}

#favourite-games{
    width:100%;
}

#favourite-games h1{
    text-align: center;
}

#fav-game-container .game{
    margin: 0 auto;
    width:80%;
    margin-bottom:1rem;
}

#news{
    display:none;
}


#news h1{
    text-align:center;
}

.newsArticle{
    display: flex;
    flex-direction: row;
    width:80%;
    margin: 0 auto;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.newsLeft{
    padding-left:1px;
    padding-top:1px;
}


.newsLeft img{
    height:10rem;
    width:10rem;
    border-radius: 5px;
    object-fit: cover;
}

.newsRight{
    margin-left:5px;
}

.newsTitle{
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 0;
    color: black;
}

.newsTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.newsRight hr{
    flex-grow: 1;
    width: 100%;
}






